/* See license.txt for terms of usage */

/*************************************************************************************************/

/* Style applied on the panel node. */
.panelNode-linkInspector {
    overflow: hidden;
}

.defaultContent {
    text-align: center;
    padding-top: 30px;
    color: gray;
}

.linkUrl {
    text-align: center;
    padding-top: 30px;
    color: blue;
}

.buttons {
    text-align: center;
    padding-top: 30px;
    color: green;
}

.button {
    margin: 10px;    
    background: 1px solid gray;
}

.elementid {

    display: hidden;
}

/*************************************************************************************************/

/* Firebug Tracing Console customization. All messages from this example use this color.
   This helps to distinguish logs from those coming from Firebug */
.DBG_LINKINSPECTOR {
    color: rgb(0, 101, 114);
}

